{"swagger":"2.0","info":{"version":"1.0.0","title":"Trivial Buzz","description":"JSON API serving roughly 200,000 trivia questions from the popular gameshow, Jeopardy! spanning 1984 - 2012. This project is unaffiliated with the Jeopardy! gameshow and claims no ownership of the questions. Questions were obtained by crawling www.j-archive.com . This is a project developed in my free time using Ruby on Rails on the backend and Swagger for documentation. An API key is not required. See more at https://github.com/abd00s/trivial-buzz Ensure proper pointing to endpoints `/api/ [version e.g. v1] /[endpoint] .json` for example `www.trivialbuzz.com/api/v1/search.json?query=abdullah`","contact":{"name":"Abdullah Pharaon","url":"http://abdullahonline.co/"}},"host":"www.trivialbuzz.com","basePath":"/api/v1","consumes":["application/json"],"produces":["application/json"],"paths":{"/questions/{id}.json":{"get":{"description":"Returns a single question by ID.\u003c/br\u003e **question**:\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Question ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **body**: Jeopardy! clue\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **response**: Jeopardy! answer\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **value**: Question dollar value; Final Jeopardy questions have 0 value\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **category**: Category of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Category ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **from_round**: Information on round in which question appeared\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Round ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Jeopardy!, Double Jeopardy! or Final Jeopardy!\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **from_show**: Information on show in which round appeared\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Show ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **show_number**: Jeopardy! show number\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **air_date**: Date the show aired YYYY-MM-DD\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to show","summary":"Retrieve a single question by ID","operationId":"findQuestionById","tags":["question"],"parameters":[{"name":"id","in":"path","description":"ID of question to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"question response","schema":{"$ref":"#/definitions/Question_response"}}}}},"/questions/random.json":{"get":{"description":"Returns a random question.\u003c/br\u003e **question**:\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Question ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **body**: Jeopardy! clue\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **response**: Jeopardy! answer\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **value**: Question dollar value; Final Jeopardy questions have 0 value\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **category**: Category of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Category ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **from_round**: Information on round in which question appeared\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Round ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Jeopardy!, Double Jeopardy! or Final Jeopardy!\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **from_show**: Information on show in which round appeared\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Show ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **show_number**: Jeopardy! show number\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **air_date**: Date the show aired YYYY-MM-DD\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to show","summary":"Retrieve a random question","operationId":"findRandomQuestion","tags":["question"],"parameters":[{"name":"newer_than","in":"query","description":"Lower bound to search from (YYYY-MM-DD), starting from 1984-09-10 [Optional]","required":false,"type":"string"},{"name":"older_than","in":"query","description":"Upper bound to search to (YYYY-MM-DD), up to 2012-01-27 [Optional]","required":false,"type":"string"},{"name":"value_equals","in":"query","description":"Limit results to questions with this value; May not be used with value_greater or value_less. For Final Jeopardy! (or tiebreaker) questions, enter value 0. [Optional]","required":false,"type":"integer","format":"int64"},{"name":"value_greater","in":"query","description":"Limit results to questions with value greater than (or equal to) this value [Optional]","required":false,"type":"integer","format":"int64"},{"name":"value_less","in":"query","description":"Limit results to questions with value less than (or equal to) this value excluding questions with value of zero [Optional]","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"question response","schema":{"$ref":"#/definitions/Question_response"}}}}},"/questions.json":{"get":{"description":"Returns paginated questions.\u003c/br\u003e **questions**: Array containing questions\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Question ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **body**: Jeopardy! clue\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **response**: Jeopardy! answer\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **value**: Question dollar value; Final Jeopardy questions have 0 value\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **category**: Category of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Category ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to category\u003c/br\u003e **meta**: Information on pages\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **current_page**: Current page\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **next_page**: Next page, if available\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **prev_page**: Previous page, if available\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **total_pages**: Total number of pages\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **total_count**: Total number of Question objects","summary":"Retrieve all questions","operationId":"findAllQuestions","tags":["question"],"parameters":[{"name":"newer_than","in":"query","description":"Lower bound to search from (YYYY-MM-DD), starting from 1984-09-10 [Optional]","required":false,"type":"string"},{"name":"older_than","in":"query","description":"Upper bound to search to (YYYY-MM-DD), up to 2012-01-27 [Optional]","required":false,"type":"string"},{"name":"value_equals","in":"query","description":"Limit results to questions with this value; May not be used with value_greater or value_less. For Final Jeopardy! (or tiebreaker) questions, enter value 0. [Optional]","required":false,"type":"integer","format":"int64"},{"name":"value_greater","in":"query","description":"Limit results to questions with value greater than (or equal to) this value [Optional]","required":false,"type":"integer","format":"int64"},{"name":"value_less","in":"query","description":"Limit results to questions with value less than (or equal to) this value excluding questions with value of zero [Optional]","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"question response","schema":{"$ref":"#/definitions/QuestionsResponse"}}}}},"/rounds/{id}.json":{"get":{"description":"Use to retrieve a single round by ID. \u003c/br\u003e _Explanation of response attributes_\u003c/br\u003e **round**\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Jeopardy!, Double Jeopardy! or Final Jeopardy!\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **from_show**: Information about show where this round appeared\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **show_number**: Jeopardy! show number\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **air_date**: Date the show aired YYYY-MM-DD\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **categories**: Array of categories appearing in round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **questions**: Array of questions appearing in round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **body**: Jeopardy! clue\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **response**: Jeopardy! answer\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **value**: Question dollar value; Final Jeopardy questions have 0 value\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **category**: Category of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to category","summary":"Retrieve a single round by ID","operationId":"findRoundById","tags":["round"],"parameters":[{"name":"id","in":"path","description":"ID of round to fetch.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"show response","schema":{"$ref":"#/definitions/Round_response"}}}}},"/search.json":{"get":{"description":"Search across questions and categories\u003c/br\u003e _Explanation of response attributes_\u003c/br\u003e **meta**: Object explaining results and pages\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **query**: Search term\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **category_count**: Number of categories matching query\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **question_count**: Number of questions matching query\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **current_page**: Current page\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **next_page**: Next page, if available\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **prev_page**: Previous page, if available\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **total_pages**: Total number of pages\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **total_count**: Total number of search results\u003c/br\u003e **results**: Array containing results; Note: results are either a Question or a Category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **result_type**: Question or Category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Question/Category ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Name of category (Only shows when result type is Category)\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **questions_count**: Number of questions having this category (Only shows when result type is Category)\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **category**: Category of question (Only shows when result type is Question)\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Category ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **body**: Jeopardy! clue (Only shows when result type is Question)\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **response**: Jeopardy! answer (Only shows when result type is Question)\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **value**: Question dollar value; Final Jeopardy questions have 0 value (Only shows when result type is Question)\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to question or category","summary":"Search across questions and categories","operationId":"search","tags":["search"],"parameters":[{"name":"query","in":"query","description":"Search term or phrase.","required":true,"type":"string"},{"name":"only","in":"query","description":"Limit results to either questions or categories only. Valid values are `Question` and `Category` [Optional]","required":false,"type":"string"}],"responses":{"200":{"description":"search response","schema":{"$ref":"#/definitions/SearchResponse"}}}}},"/categories.json":{"get":{"description":"Returns all categories paginated with 10 per page.\u003c/br\u003e **categories**: Array containing categories\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Category ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **questions_count**: Number of questions having this category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; Note that this only includes shows revealed during the show\u003c/br\u003e **meta**: Information on pages\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **current_page**: Current page\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **next_page**: Next page, if available\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **prev_page**: Previous page, if available\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **total_pages**: Total number of pages\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **total_count**: Total number of Category objects","summary":"Retrieve all categories paginated in 10s","operationId":"findCategories","tags":["category"],"parameters":[{"name":"popular","in":"query","description":"Limits results to X most popular categories. [Optional]","required":false,"type":"integer","format":"int64"},{"name":"minimum","in":"query","description":"Limits results to categories with at least this number of questions. [Optional]","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Go to particular page. [Optional]","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"categories response","schema":{"$ref":"#/definitions/Categories_response"}}}}},"/categories/{id}.json":{"get":{"description":"Fetch category by ID.\u003c/br\u003e **category**\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Category ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **questions_count**: Number of questions having this category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; Note that this only includes shows revealed during the show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **shows**: Array of shows in which this category appeared\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Show ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **show_number**: Jeopardy! show number\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **air_date**: Date the show aired YYYY-MM-DD\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **questions**: Array of questions with this category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: Question ID\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **body**: Jeopardy! clue\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **response**: Jeopardy! answer\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **value**: Question dollar value; Final Jeopardy questions have 0 value\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to question","summary":"Retrieve a single category by ID","operationId":"findCategoriesById","tags":["category"],"parameters":[{"name":"id","in":"path","description":"ID of category to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"question response","schema":{"$ref":"#/definitions/Category_response"}}}}},"/shows.json":{"get":{"description":"Use to retrieve all shows with three objects per page. \u003c/br\u003e _Explanation of response attributes_\u003c/br\u003e **shows**: Array of 3 shows\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **show_number**: Jeopardy! show number\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **air_date**: Date the show aired YYYY-MM-DD\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **categories**: Array of categories appearing in show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **rounds**: Array of rounds appearing in show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of rounds\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Jeopardy!, Double Jeopardy! or Final Jeopardy!\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **questions**: Array of questions appearing in round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **body**: Jeopardy! clue\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **response**: Jeopardy! answer\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **value**: Question dollar value; Final Jeopardy questions have 0 value\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **category**: Category of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to category\u003c/br\u003e **meta**: Information on pages\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **current_page**: Current page\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **next_page**: Next page, if available\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **prev_page**: Previous page, if available\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **total_pages**: Total number of pages\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **total_count**: Total number of Show objects","summary":"Retrieve all shows paginated in 3's","operationId":"findShows","tags":["show"],"parameters":[{"name":"page","in":"query","description":"Go to particular page. [Optional]","required":false,"type":"integer","format":"int64"},{"name":"chrono_sort","in":"query","description":"\"old\" to sort in ascending chronological order, \"recent\" for descending. [Optional]","required":false,"type":"string"}],"responses":{"200":{"description":"question response","schema":{"$ref":"#/definitions/Shows_response"}}}}},"/shows/{id}.json":{"get":{"description":"Use to retrieve one show by id \u003c/br\u003e _Explanation of response attributes_\u003c/br\u003e **show**\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **show_number**: Jeopardy! show number\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **air_date**: Date the show aired YYYY-MM-DD\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **categories**: Array of categories appearing in show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **rounds**: Array of rounds appearing in show\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of rounds\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Jeopardy!, Double Jeopardy! or Final Jeopardy!\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **questions**: Array of questions appearing in round\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **body**: Jeopardy! clue\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **response**: Jeopardy! answer\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **value**: Question dollar value; Final Jeopardy questions have 0 value\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: Link to question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **category**: Category of question\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **id**: ID of category\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **name**: Category name\u003c/br\u003e \u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp;\u0026nbsp; **url**: link to category","summary":"Retrieve a single show by ID","operationId":"findShowById","tags":["show"],"parameters":[{"name":"id","in":"path","description":"ID of show to fetch.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"show response","schema":{"$ref":"#/definitions/Show_response"}}}}}},"definitions":{"QuestionsResponse":{"properties":{"questions":{"type":"array","items":{"$ref":"QuestionsRoundsShows"}},"meta":{"$ref":"#/definitions/MetaModel"}}},"Question_response":{"properties":{"question":{"$ref":"#/definitions/Question"}}},"Question":{"required":["id"],"properties":{"id":{"type":"integer","format":"int64"},"body":{"type":"string"},"response":{"type":"string"},"value":{"type":"integer","format":"int64"},"category":{"$ref":"#/definitions/CategoriesShows"},"from_round":{"$ref":"#/definitions/QuestionRound"}}},"QuestionsRoundsShows":{"properties":{"id":{"type":"integer","format":"int64"},"body":{"type":"string"},"response":{"type":"string"},"value":{"type":"integer","format":"int64"},"url":{"type":"string"},"category":{"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"url":{"type":"string"}}}}},"QuestionSearches":{"properties":{"category":{"type":"string"},"body":{"type":"string"},"response":{"type":"string"},"value":{"type":"integer","format":"int64"},"url":{"type":"string"}}},"QuestionCategory":{"properties":{"id":{"type":"integer","format":"int64"},"body":{"type":"string"},"response":{"type":"string"},"value":{"type":"integer","format":"int64"},"url":{"type":"string"}}},"Round_response":{"properties":{"round":{"$ref":"#/definitions/Round"}}},"Round":{"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"from_show":{"$ref":"#/definitions/ShowRound"},"categories":{"type":"array","items":{"$ref":"CategoriesShows"}},"questions":{"type":"array","items":{"$ref":"QuestionsRoundsShows"}}}},"RoundsShows":{"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"url":{"type":"string"},"questions":{"type":"array","items":{"$ref":"QuestionsRoundsShows"}}}},"QuestionRound":{"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"url":{"type":"string"},"from_show":{"$ref":"#/definitions/ShowRound"}}},"SearchResponse":{"properties":{"meta":{"$ref":"#/definitions/SearchMeta"},"results":{"type":"array","items":{"$ref":"Search"}}}},"Search":{"properties":{"result_type":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"questions_count":{"type":"integer","format":"int64"},"category":{"$ref":"#/definitions/CategoriesShows"},"body":{"type":"string"},"response":{"type":"string"},"value":{"type":"integer","format":"int64"},"url":{"type":"string"}}},"SearchMeta":{"properties":{"query":{"type":"string"},"category_count":{"type":"integer","format":"int64"},"questions_count":{"type":"integer","format":"int64"},"current_page":{"type":"integer","format":"int64"},"next_page":{"type":"integer","format":"int64"},"prev_page":{"type":"integer","format":"int64"},"total_pages":{"type":"integer","format":"int64"},"total_count":{"type":"integer","format":"int64"}}},"Shows_response":{"properties":{"shows":{"type":"array","items":{"$ref":"Shows"}},"meta":{"$ref":"#/definitions/MetaModel"}}},"Show_response":{"properties":{"show":{"$ref":"#/definitions/Shows"}}},"Shows":{"properties":{"id":{"type":"integer","format":"int64"},"show_number":{"type":"integer","format":"int64"},"air_date":{"type":"string"},"categories":{"type":"array","items":{"$ref":"CategoriesShows"}},"rounds":{"type":"array","items":{"$ref":"RoundsShows"}}}},"ShowRound":{"properties":{"id":{"type":"integer","format":"int64"},"show_number":{"type":"integer","format":"int64"},"air_date":{"type":"string"},"url":{"type":"string"}}},"Categories_response":{"properties":{"categories":{"type":"array","items":{"$ref":"CategoriesIndex"}},"meta":{"$ref":"#/definitions/MetaModel"}}},"CategoriesIndex":{"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"url":{"type":"string"},"questions_count":{"type":"integer","format":"int64"}}},"Category_response":{"properties":{"category":{"$ref":"#/definitions/Category"}}},"Category":{"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"questions_count":{"type":"integer","format":"int64"},"shows":{"type":"array","items":{"$ref":"ShowRound"}},"questions":{"type":"array","items":{"$ref":"QuestionCategory"}}}},"CategoriesShows":{"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"url":{"type":"string"}}},"ErrorModel":{"required":["code","message"],"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"MetaModel":{"properties":{"current_page":{"type":"integer","format":"int64"},"next_page":{"type":"integer","format":"int64"},"prev_page":{"type":"integer","format":"int64"},"total_pages":{"type":"integer","format":"int64"},"total_count":{"type":"integer","format":"int64"}}}}}